my-collection-card {
  width: 231px;
}

.hero {
  margin-bottom: 27px;
}

.collectionList {
  display: flex;
  gap: 75px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (width < 1024px) {
  .collectionList {
    gap: 48px;
  }
}

@media (width < 768px) {
  section.main h1 {
    margin-bottom: 60px;
  }
  .collectionList {
    gap: 24px;
  }
  .filter {
    padding: 0;
    margin-bottom: 60px;
  }
}

@media (width < 488px) {
  my-movie-card {
    width: calc(50% - 12px);
    height: 64vw;
  }
  .collectionList {
    gap: 24px;
  }
}
