my-collection-card {
  width: 231px;
}

.hero {
  margin-bottom: 27px;
}

.collectionList {
  display: flex;
  gap: 75px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (width < 55.6875rem) {
  my-collection-card {
    width: 190px;
    height: 266px;
  }
}

@media (width < 48rem) {
  section.main h1 {
    margin-bottom: 60px;
  }

  .filter {
    padding: 0;
    margin-bottom: 60px;
  }
}

@media (width < 31.4375rem) {
  .collectionList {
    gap: 48px;
  }
}

/* 476 */
@media (width < 29.75rem) {
  my-collection-card {
    width: 129px;
    height: 181px;
  }
}
