body {
  background: linear-gradient(
    200deg,
    #030a1b 50%,
    rgba(151, 71, 255, 0.5) 100%
  );
}
section.register {
  display: flex;
  align-items: center;
  min-height: 100vh;
  gap: 69px;
  margin-top: 2rem;
}

.registerLeft {
  width: 30%;
  max-width: 300px;
}

.registerRight {
  width: 100%;
}

.registerRight img {
  width: 100%;
}
.title {
  color: var(--white-color);
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 26px;
}
.linkWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}
.linkWrapper .active {
  position: relative;
}
.linkWrapper .active:after {
  content: ' ';
  height: 2px;
  background-color: var(--blue-color);
  display: block;
  width: 100%;
  filter: blur(2px);
  margin-top: 0.25rem;
  position: absolute;
}
.linkWrapper a {
  color: var(--white-color);
  font-size: 1.5rem;
  text-decoration: none;
}
.registerForm .formRow {
  margin-bottom: 48px;
}
.registerForm input {
  border-radius: 12px;
  background: transparent;
  border: 1px solid var(--white-color);
  color: white;
  width: 100%;
  padding: 18px 15px;
}
.registerForm input::placeholder {
  color: #808080;
}

.registerForm button {
  background: var(--blue-color);
  border-radius: 12px;
  color: var(--white-color);
  cursor: pointer;
  padding: 1rem 2.25rem;
}

section.register my-icon {
  position: absolute;
  top: 13px;
  left: 21px;
}
