.hero {
  min-height: 100vh;
  background: url(./assets/images/heroBanner.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.hero .heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  gap: 0.625rem;
  color: var(--white-color);
  width: 50%;
}
.hero .heroContent h2,
.trends h2,
.movies h2 {
  font-size: 3rem;
  font-weight: bold;
}
.hero .heroContent p {
  font-size: 1rem;
  font-weight: 400;
}
.heroContent img {
  width: 15.625rem;
}
.hero .heroContent .heroBtnWrapper {
  display: flex;
  gap: 0.5rem;
}
.hero .heroContent button {
  background: var(--blue-color);
  border-radius: 28px;
  padding: 0.625rem 1.5rem;
  color: var(--white-color);
  display: flex;
  gap: 0.375rem;
  align-items: center;
  cursor: pointer;
}
.hero .heroContent button:last-child {
  background-color: transparent;
  border: 1px solid var(--blue-color);
}

.hero .container {
  display: flex;
}

.hero .posterWrapper {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 50%;
}

.hero .posterWrapper img {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 43.75rem;
}

section.trends {
  margin-top: 1.8125rem;
  margin-bottom: 6.0625rem;
}

section.trends,
section.movies {
  color: var(--white-color);
}

.trendsTop,
.moviesTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;
}
.moviesTop {
  padding-bottom: 1.9375rem;
}
.seeMoreLink {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  gap: 0.625rem;
}
section.movies {
  margin-bottom: 6.0625rem;
  background-image: url(./assets/images/moviesBackground.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.moviesFilter {
  margin-bottom: 3.75rem;
  display: flex;
  gap: 1.375rem;
  position: relative;
  flex-wrap: wrap;
}
.moviesFilter .chevronLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.moviesFilter .chevronRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.moviesFilter button {
  background-color: transparent;
  border: 1px solid var(--pink-color);
  color: var(--white-color);
  font-size: 0.875rem;
  text-align: center;
  flex-grow: 1;
  padding: 0.75rem 1.75rem;
  border-radius: 25px;
  max-width: 9.375rem;
}

.moviesFilter button.checked {
  background-color: var(--pink-color);
}

section.goldenGlobe.container {
  padding: 0;
}
section.goldenGlobe img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

section.price img {
  width: 100%;
}

@media (width < 1025px) {
  section.goldenGlobe.container {
    max-width: 100%;
  }
  .hero {
    background: url(./assets/images/heroBannerMobile.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .heroContent {
    margin-bottom: 2rem;
  }
  .hero .posterWrapper {
    justify-content: center;
  }
  .hero .container .heroContent,
  .hero .container .posterWrapper {
    width: 100%;
  }
}
