.hero {
  min-height: 100vh;
  background: url(/assets/images/heroBanner.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.hero .heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  gap: 0.5rem;
  color: var(--white-color);
  width: 50%;
}
.hero .heroContent h2,
.trends h2,
.movies h2,
.collection h2,
.video h2,
.faq h2,
.studio h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white-color);
}
.hero .heroContent p {
  font-size: 1rem;
  font-weight: 400;
}
.heroContent img {
  width: 15rem;
}
.hero .heroContent .heroBtnWrapper {
  display: flex;
  gap: 0.5rem;
}
.hero .heroContent button {
  background: var(--blue-color);
  border-radius: 28px;
  padding: 0.5rem 1.5rem;
  color: var(--white-color);
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
}
.hero .heroContent button:last-child {
  background-color: transparent;
  border: 1px solid var(--blue-color);
}

.hero .container {
  display: flex;
}

.hero .posterWrapper {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 50%;
}

.hero .posterWrapper img {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 43.75rem;
}

section.trends {
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

.movies my-filter-carousel {
  margin-bottom: 2.5rem;
  display: block;
  @media (width < 1025px) {
    margin-bottom: 1.5rem;
  }
}
.trendsTop,
.moviesTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;
}
.moviesTop {
  padding-bottom: 2rem;
}
.seeMoreLink {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
}
section.movies {
  margin-bottom: 6rem;
  background-image: url(/assets/images/moviesBackground.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

section.goldenGlobe.container {
  padding: 0;
  margin-bottom: 6.5rem;
}
section.goldenGlobe img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

section.price img {
  width: 100%;
  max-width: 64rem;
  margin: auto;
  display: block;
}
section.collection,
section.video {
  margin-bottom: 10rem;
}
section.video {
  @media (width < 1024px) {
    margin-bottom: 7rem;
  }
}
section.video .moviesTop {
  flex-wrap: wrap;
}
section.video .moviesTop h2 {
  display: flex;
  justify-content: start;
}
section.video .embla__slide__number {
  overflow: hidden;
}
section.kids {
  position: relative;
  color: var(--white-color);
  background-color: var(--blue-color);
  display: flex;
  min-height: 100vh;
  @media (width < 1024px) {
    min-height: unset;
  }
}
section.kids .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.kids .kidsContent {
  text-align: center;
  max-width: 48rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5.5rem;
  @media (width < 1024px) {
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
}

section.kids h2 {
  font-size: 3rem;
  font-weight: 400;
  @media (width < 768px) {
    font-size: 2rem;
  }
}

section.kids p {
  font-size: 1.5rem;
  font-weight: 400;
  @media (width < 768px) {
    font-size: 1rem;
  }
}
section.kids button {
  position: absolute;
  font-size: 1.5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1rem 4rem;
  border-radius: 12px;
  bottom: 3.5rem;
  cursor: pointer;
  @media (width < 1024px) {
    font-size: 1rem;
  }
  @media (width < 48rem) {
    bottom: 2rem;
  }
}
section.faq {
  min-height: 100vh;
  color: var(--white-color);
  padding-bottom: 110px;
}
section.kids img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

section.faq .faqItem {
  padding: 2rem;
  border: 1px solid var(--pink-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 88px;
  overflow: hidden;
  transition: 0.2s ease height;
  cursor: pointer;
}
section.faq .faqItem.open {
  height: 10rem;
  @media (width < 48rem) {
    height: 11rem;
  }
  @media (width < 29rem) {
    height: 14.5rem;
  }
}

section.faq .container > h2 {
  margin: 6.5rem 0;
  text-align: center;
}
section.faq .answer {
  font-size: 1rem;
}
section.faq .question {
  display: flex;
  justify-content: space-between;
}
section.faq .answer {
  padding-top: 2rem;
}

section.faq .faqItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

section.studio {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
}
section.studio .logoWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  @media (width < 768px) {
    gap: 40px;
  }
}
section.studio img {
  width: calc(20% - 60px);
  @media (width < 1025px) {
    width: calc(25% - 60px);
  }
  @media (width < 768px) {
    width: calc(33.33% - 40px);
  }
  @media (width < 468px) {
    width: calc(50% - 40px);
  }
}

@media (width < 64rem) {
  section.goldenGlobe.container {
    max-width: 100%;
    margin-bottom: 0;
  }
  section.movies {
    margin-bottom: 3rem;
  }
  section.collection {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
  .hero {
    background: url(/assets/images/heroBannerMobile.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .heroContent {
    margin-bottom: 2rem;
  }
  .hero .posterWrapper {
    justify-content: center;
  }
  .hero .container .heroContent,
  .hero .container .posterWrapper {
    width: 100%;
  }
}
