section.trends {
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

.movies my-filter-carousel {
  margin-bottom: 2.5rem;
  display: block;
}
.trendsTop,
.moviesTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;
}
.moviesTop {
  padding-bottom: 2rem;
}
.seeMoreLink {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
}
section.movies {
  margin-bottom: 6rem;
  background-image: url(/assets/images/sliderGradient.png);
  background-size: 100%;
}

section.goldenGlobe.container {
  padding: 0;
  margin-bottom: 6.5rem;
}
section.goldenGlobe img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

section.price img {
  width: 100%;
  max-width: 64rem;
  margin: auto;
  display: block;
}
section.collection,
section.video {
  margin-bottom: 10rem;
}

section.video .moviesTop {
  flex-wrap: wrap;
}
section.video .moviesTop h2 {
  display: flex;
  justify-content: start;
}
section.video .embla__slide__number {
  overflow: hidden;
}
section.kids {
  position: relative;
  color: var(--white-color);
  background-color: var(--blue-color);
  display: flex;
  min-height: 100vh;
}
section.kids .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.kids .kidsContent {
  text-align: center;
  max-width: 48rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5.5rem;
}

section.kids h2 {
  font-size: 3rem;
  font-weight: 400;
}

section.kids p {
  font-size: 1.5rem;
  font-weight: 400;
  @media (width < 768px) {
    font-size: 1rem;
  }
}
section.kids button {
  position: absolute;
  font-size: 1.5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1rem 4rem;
  border-radius: 12px;
  bottom: 3.5rem;
  cursor: pointer;
  @media (width < 1024px) {
    font-size: 1rem;
  }
  @media (width < 48rem) {
    bottom: 2rem;
  }
}
section.faq {
  min-height: 100vh;
  color: var(--white-color);
  background-image: url(/assets/images/footerGradient.png);
  background-position: center;
  background-size: cover;
}
section.kids img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

section.faq .faqItem {
  padding: 2rem;
  border: 1px solid var(--pink-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 88px;
  overflow: hidden;
  transition: 0.2s ease height;
  cursor: pointer;
}
section.faq .faqItem.open {
  height: 10rem;
  @media (width < 48rem) {
    height: 11rem;
  }
  @media (width < 29rem) {
    height: 14.5rem;
  }
}
section.faq {
  padding-top: 104px;
}
section.faq .container > h2 {
  margin-bottom: 104px;
  text-align: center;
}
section.faq .answer {
  font-size: 1rem;
}
section.faq .question {
  display: flex;
  justify-content: space-between;
}
section.faq .answer {
  padding-top: 2rem;
}

section.faq .faqItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding-bottom: 110px;
}

section.studio {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
}
section.studio .logoWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  @media (width < 768px) {
    gap: 40px;
  }
}
section.studio img {
  width: calc(20% - 60px);
  @media (width < 1025px) {
    width: calc(25% - 60px);
  }
  @media (width < 768px) {
    width: calc(33.33% - 40px);
  }
  @media (width < 468px) {
    width: calc(50% - 40px);
  }
}

/* 1024px */
@media (width < 64rem) {
  section.kids .kidsContent {
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  section.kids {
    min-height: unset;
  }
  section.video {
    margin-bottom: 7rem;
  }
  .movies my-filter-carousel {
    margin-bottom: 1.5rem;
  }

  section.goldenGlobe.container {
    max-width: 100%;
    margin-bottom: 0;
  }

  section.movies {
    margin-bottom: 3rem;
  }

  section.collection {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
  section.studio {
    padding-bottom: 80px;
  }
}

/* 768px */
@media (width< 48rem) {
  section.kids h2 {
    font-size: 2rem;
  }
}
