.hero {
  min-height: 100vh;
  background: url(../assets/images/heroBanner.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  gap: 0.625rem;
  color: var(--white-color);
  max-width: 500px;
}

.hero .hero-content h2 {
  font-size: 3rem;
  font-weight: bold;
}

.hero .hero-content p {
  font-size: 1rem;
  font-weight: 400;
}

.hero-content img {
  width: 250px;
}
.hero .hero-content .heroBtnWrapper {
  display: flex;
  gap: 0.375rem;
}
.hero .hero-content button {
  background: var(--blue-color);
  border-radius: 28px;
  padding: 0.625rem 1.5rem;
  color: var(--white-color);
  display: flex;
  gap: 0.375rem;
  align-items: center;
  cursor: pointer;
}

.hero .hero-content button:last-child {
  background-color: transparent;
  border: 1px solid var(--blue-color);
}
