body {
  background: linear-gradient(
    200deg,
    #030a1b 50%,
    rgba(151, 71, 255, 0.5) 100%
  );
}

section.login {
  display: flex;
  align-items: center;
  min-height: 100vh;
  gap: 69px;
  margin-top: 2rem;
}

.loginLeft {
  width: 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.loginRight {
  width: 100%;
}

.loginRight img {
  width: 100%;
}

.title {
  color: var(--white-color);
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.linkWrapper .active {
  position: relative;
}

.linkWrapper .active:after {
  content: ' ';
  height: 2px;
  background-color: var(--blue-color);
  display: block;
  width: 100%;
  filter: blur(2px);
  margin-top: 0.25rem;
  position: absolute;
}

.linkWrapper a {
  color: var(--white-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.loginForm .formRow {
  margin-bottom: 60px;
  position: relative;
}

.loginForm .formRow .inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.loginForm input {
  border-radius: 12px;
  background: transparent;
  border: 1px solid var(--white-color);
  color: white;
  width: 100%;
  padding: 18px 55px 18px 15px;
}

.loginForm input::placeholder {
  color: #808080;
}



.forgotPassword {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 26px;
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 16px;
  color: #b1b7ba;
  text-decoration: none;
}


.loginForm button {
  background: var(--blue-color);
  border-radius: 12px;
  color: var(--white-color);
  font-family: 'lato';
  cursor: pointer;
  padding: 1rem 2.25rem;
  display:block;
  margin: 0 auto;
}

.loginLink {
  text-decoration: none;
  size: 16px;
  color: var(--white-color);
}
section.login .arrowBack {
  position: absolute;
  top: 13px;
  left: 21px;
}

@media (width < 48rem) {
  .loginRight {
    display: none;
  }
  .loginLeft {
    width: 100%;
  }
  section.login {
    justify-content: center;
  }
}
