my-movie-card {
  width: 208px;
  height: 296px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

my-movie-card .movieCard {
  width: 100%;
  height: 100%;
  background-image: var(--img1);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.movieCard .plusBtn {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
  border: 10px solid var(--dark-color);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(3, 10, 27, 0.35) 0 5px 15px;
  box-sizing: content-box;

  transition: top 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    left 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    width 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    height 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    border-radius 0.35s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.35s ease,
    backdrop-filter 0.35s ease;
}

.movieCard .plusBtn my-icon {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
}

my-movie-card:hover .movieCard .plusBtn {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 16px;
}

my-movie-card:hover .movieCard .plusBtn my-icon {
  display: none;
}
