<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/global.css" />
    <script src="./index.js"></script>
    <script src="/components/icons/index.js"></script>
    <link rel="stylesheet" href="./index.css" defer />
  </head>
  <body>
    <my-movie-card
      isMovie
      onmouseover="movieHoverEffect(event)"
      image1="movie_1.png"
      image2="movie_2.png"
      rating="4"
      name="Driton"
      category="test, test, test"
    ></my-movie-card>
  </body>
</html>
