body {
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
}

.moana {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 114px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}
.succeedCreate {
  margin-top: 60px;
}
.succeedCreate h1 {
  text-align: center;
}

.twoImages {
  display: flex;
  justify-content: space-between;
  gap: 50rem;
}

.deadpoolImg {
  width: 244px;
  height: 315px;
}

.avatarImg {
  width: 171px;
  height: 351px;
}

.firstImg {
  margin-bottom: 38px;
}
