body {
  background-image: url(/assets/images/footerGradient.png);
  background-position: bottom left;
  background-size: cover;
}

.container > h1,
.container > h4 {
  color: var(--white-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

.profile {
  height: 160px;
}

.profile-text {
  font-size: 24px;
}

.avatar {
  width: 300px;
}

.allAvatars {
  width: 100%;
}

.formRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.confirm-btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 14px 48px;
  border: none;
  border-radius: 14px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.currentProfile {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.imageWrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.imageWrapper img {
  cursor: pointer;
}
@media (width < 39.1875rem) {
  .imageWrapper img {
    width: calc(33.33% - 0.7rem);
  }
}
