@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #030a1b;
  --lighter-dark-color: #0b132a;
  --white-color: #ebfaff;
  --blue-color: #228ee5;
  --overlay-dark: rgba(3, 10, 27, 0.9);
  --pink-color: #ec5baa;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-color);
  font-family: 'Lato', sans-serif;
}

my-icon,
my-carousel,
my-filter-carousel {
  display: block;
}

.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  @media (width < 64rem) {
    max-width: 100%;
  }
}

.hide {
  display: none !important;
}

button {
  border: 0;
  outline: 0;
}

my-icon {
  margin-bottom: -4px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Carousel Style start*/

.embla {
  max-width: 75rem;
  margin: auto;
  --slide-height: 18.5rem;
  --slide-spacing: 2rem;
  --slide-size: 20%;
  padding: 0 1.5rem;
  position: relative;
  @media (width < 64rem) {
    --slide-spacing: 1rem;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem rgb(54, 49, 61);
}

.is-selected {
  background-color: rgba(255, 255, 255, 0.5);
}

.movie {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 12px;
  position: relative;
}
.movie .plusBtn {
  position: absolute;
  top: -10px;
  left: -10px;
  border: 10px solid var(--dark-color);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  box-shadow: rgba(3, 10, 27, 0.35) 0px 5px 15px;
}
.movie my-icon {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  position: relative;
  outline: 5px solid var(--dark-color);
  border-radius: 12px;
  margin: 0;
}
.movie .plusBtn {
  cursor: pointer;
}
.movie .plusBtn svg {
  transition: transform 0.3s ease;
}

.movie .plusBtn:hover svg {
  transform: scale(1.2);
}

/* Movie Card CSS Start */

my-movie-card {
  width: 208px;
  height: 296px;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  padding: 1px;
  transition: 0.3s ease filter;
}

my-movie-card .movieCard {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.movieCard .plusBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  outline: 10px solid var(--dark-color);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(3, 10, 27, 0.35) 0 5px 15px;

  transition: top 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    left 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    width 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    height 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
    border-radius 0.35s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.35s ease,
    backdrop-filter 0.35s ease;
}
.plusBtn:after,
.plusBtn:before {
  content: '';
  background-color: var(--dark-color);
  position: absolute;
  -webkit-mask: radial-gradient(
    circle at bottom,
    transparent 12px,
    var(--dark-color) 9px
  );
  mask: radial-gradient(
    circle at bottom right,
    transparent 12px,
    var(--dark-color) 0px
  );
}

.plusBtn:before {
  width: 12px;
  height: 16px;
  bottom: -22px;
  left: 0px;
}
.plusBtn:after {
  width: 16px;
  height: 12px;
  top: 0px;
  right: -22px;
}

.movieCard .plusBtn my-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  border-radius: 12px;
}

my-movie-card:hover .movieCard .plusBtn {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 16px;
}

my-movie-card:hover .movieCard .plusBtn my-icon {
  display: none;
}

my-movie-card .movieContent {
  position: relative;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--white-color);
  padding: 1rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.4s ease opacity, 0.4s ease transform;
}

my-movie-card .movieContent h3 {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

my-movie-card .movieContent .stars {
  display: flex;
}
my-movie-card:hover .movieContent {
  opacity: 1;
  transform: translateY(0);
}

/* Collection Card */
.embla.collection {
  --slide-height: 324px;
  --slide-size: max-content;
  --slide-spacing: 2rem;
}
my-collection-card {
  width: 236px;
  height: 324px;
  position: relative;
  display: block;
  cursor: pointer;
}
my-collection-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
my-collection-card img {
  position: absolute;
  border-radius: 12px;
  transition: transform 0.3s ease;
  width: 208px;
  height: 296px;
  object-fit: cover;
  object-position: center;
}

.collectionImage1 {
  top: 0;
  left: 0;
  z-index: 3;
}
.collectionImage2 {
  top: 14px;
  left: 14px;
  z-index: 2;
}
.collectionImage3 {
  top: 28px;
  left: 28px;
  z-index: 1;
}

/* Hover animations */
my-collection-card:hover .collectionImage1 {
  animation: seq1 1.3s ease-in-out forwards;
}
my-collection-card:hover .collectionImage2 {
  animation: seq2 1.3s ease-in-out forwards;
}
my-collection-card:hover .collectionImage3 {
  animation: seq3 1.3s ease-in-out forwards;
}

/* Animation sequences */
@keyframes seq1 {
  0% {
    z-index: 3;
    top: 0;
    left: 0;
  }
  40% {
    z-index: 1;
    top: 28px;
    left: 28px;
  }
  100% {
    z-index: 3;
    top: 0;
    left: 0;
  }
}

@keyframes seq2 {
  0% {
    z-index: 2;
    top: 14px;
    left: 14px;
  }
  33% {
    z-index: 3;
    top: 0;
    left: 0;
  }
  100% {
    z-index: 1;
    top: 28px;
    left: 28px;
  }
}

@keyframes seq3 {
  0% {
    z-index: 1;
    top: 28px;
    left: 28px;
  }
  66% {
    z-index: 3;
    top: 0;
    left: 0;
  }
  100% {
    z-index: 2;
    top: 14px;
    left: 14px;
  }
}

.embla.filter {
  --slide-height: max-content;
  --slide-spacing: 1rem;
  --slide-size: max-content;
  @media (width < 64.0625rem) {
    --slide-spacing: 0.5rem;
  }
}

.embla.filter .embla__button {
  width: unset;
  height: unset;
}
.embla.filter .embla__controls {
  margin-top: 0;
}
.embla.filter .embla__button--prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.embla.filter .embla__button--next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.embla.filter .filterBtn {
  background-color: transparent;
  border: 1px solid var(--pink-color);
  color: var(--white-color);
  font-size: 0.875rem;
  text-align: center;
  flex-grow: 1;
  padding: 0.75rem 1.75rem;
  border-radius: 25px;
  max-width: 9.375rem;
  cursor: pointer;
}

.embla.filter .filterBtn.checked {
  background-color: var(--pink-color);
}

my-collection-card h3 {
  color: var(--white-color);
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--dark-color);
}

.embla.video {
  --slide-size: 45%;
}

/* Carousel Style end */

/* Hero Section Start */
.hero {
  min-height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  display: flex;
  align-items: end;
}

.hero .heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  gap: 0.5rem;
  color: var(--white-color);
  width: 50%;
}
.hero .heroContent h2,
.trends h2,
.movies h2,
.collection h2,
.video h2,
.faq h2,
.studio h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white-color);
}
.hero .heroContent p {
  font-size: 1rem;
  font-weight: 400;
}
.heroContent img {
  width: 15rem;
}
.hero .heroContent .heroBtnWrapper {
  display: flex;
  gap: 0.5rem;
}
.hero .heroContent button {
  background: var(--blue-color);
  border-radius: 28px;
  padding: 0.5rem 1.5rem;
  color: var(--white-color);
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
}
.hero .heroContent button:last-child {
  background-color: transparent;
  border: 1px solid var(--blue-color);
}

.hero .container {
  display: flex;
}

.hero .posterWrapper {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 50%;
}

.hero .posterWrapper img {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 43.75rem;
}
/* Hero section end */

/* 1024px */
@media (width < 64rem) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 90vh;
  }

  .hero .container {
    flex-direction: column-reverse;
  }

  .hero .heroContent {
    margin-bottom: 2rem;
  }

  .hero .posterWrapper {
    display: none;
  }

  .hero .container .heroContent {
    width: 100%;
  }
}
/*Footer*/
footer {
  padding: 60px 0;
}

.footerLinks {
  text-align: center;
  margin-top: 53px;
  margin-bottom: 55px;
}

.footerLinks a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}

.firstRow,
.secondRow {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.contactIcons {
  display: flex;
  justify-content: center;
  gap: 56px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.footerLinks a my-icon {
  margin-top: -1.2px;
}

@media (width < 75rem) {
  .embla {
    --slide-size: 25%;
  }
}
@media (width < 64rem) {
  .embla {
    --slide-size: 33%;
  }
}
@media (width < 48rem) {
  .embla {
    --slide-size: 40%;
  }
  .embla.video {
    --slide-size: 100%;
  }
  .footerLinks a {
    width: 100%;
  }
  footer .contactIcons {
    flex-wrap: wrap;
  }
  footer {
    padding: 0;
  }
}
@media (width < 38.75rem) {
  .embla {
    --slide-size: 50%;
  }
}
@media (width < 29.25rem) {
  .embla {
    --slide-size: 65%;
    --slide-height: 22rem;
  }
}
