
footer {
    background-color:var(--dark-color-);
    padding: 60px 0;
    color:var(--white-color-);
    font-family: "Lato";
    justify-content: space-between;
    width: 100%;
    height:100%;
}


.footerLinks {
    text-align: center;
    margin-top:53px;
    margin-bottom:55px;
}

.footerLinks a {
    color:var(--white-color-);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    display: flex;
    align-items: center;
    gap: 6px;
}

.firstRow,
.secondRow {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}
.firstRow{
  padding-left: 276px;
  padding-right:276px;
}

.footerLinks my-icon {
    width: 22px;
    height: 22px;
    fill:var(--white-color-);
}


.contactIcons {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-top: 100px;
    margin-bottom: 120px; 
   
}

.contactIcon my-icon {
    width: 55px;
    height: 55px;
    fill: var(--white-color-);
    cursor: pointer;
}

.footerLinks a my-icon {
    width: 22px;
    height: 22px;
    fill:var(--white-color-);

    
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-top: -1.2px; 
}


@media (max-width: 1024px) {
    .firstRow,
    .secondRow {
        gap: 30px; 
    }

    .firstRow {
       
        padding-left: 15px; 
        padding-right: 15px;
    }

    .footerLinks a {
        font-size: 18px; 
    }
}


@media (max-width: 768px) {
    footer {
        padding: 40px 0; 
    }
    
    .footerLinks {
        margin-top: 40px; 
        margin-bottom: 30px;
    }

    .firstRow,
    .secondRow {
        flex-direction: column; 
        gap: 15px; 
        align-items: center; 
        margin-bottom: 15px; 
    }
    
    .firstRow {
        padding-left: 0;
        padding-right: 0;
    }

    .footerLinks a {
        font-size: 16px; 
        justify-content: center; 
    }

    .contactIcons {
        gap: 30px; 
        margin-top: 30px; 
        margin-bottom: 40px;
    }

    .contactIcon my-icon {
        width: 40px; 
        height: 40px;
    }
}
