<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/global.css" />
    <script src="./index.js"></script>
    <script src="/components/icons/index.js"></script>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <my-collection-card
      image1="barbie.png"
      image2="batman.png"
      image3="venom.png"
      name="Driton"
    ></my-collection-card>
  </body>
</html>
