<!DOCTYPE html>
<html lang="en" class="theme-dark">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Embla Carousel</title>
    <script src="../embla-carousel-autoplay.umd.js"></script>
    <script src="../embla-carousel.umd.js"></script>
    <script src="/components/icons/index.js"></script>
    <link rel="stylesheet" href="/assets/styles/global.css" />
    <script src="./index.js"></script>
  </head>

  <body>
    <my-carousel></my-carousel>
  </body>
</html>
