@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #030a1b;
  --lighter-dark-color: #0b132a;
  --white-color: #ebfaff;
  --blue-color: #228ee5;
  --overlay-dark: rgba(3, 10, 27, 0.9);
}

body {
  background-color: var(--dark-color);
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 75rem;
  margin: auto;
  padding: 0 1.5rem;
}

.hide {
  display: none;
}
