body {
  background: linear-gradient(
    200deg,
    #030a1b 50%,
    rgba(151, 71, 255, 0.5) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.loginSucceed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.loginProfile {
  width: 250px;
  height: 250px;
  margin-top: -20px;
}

.userProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usernameProfile {
  color: #a0a0a0;
  font-weight: bold;
  font-size: 24px;
  font-family: 'lato', sans-serif;
}

.loginMessage {
  width: auto;
  max-width: 664px;
  padding: 0 15px;

  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  white-space: nowrap;

  text-align: center;
  color: var(--white-color);
}

@media (max-width: 48rem) {
  .loginProfile {
    width: 150px;
    height: 150px;
    margin-top: -10px;
  }

  .usernameProfile {
    font-size: 20px;
  }

  .loginMessage {
    font-size: 28px;
    line-height: 36px;
    max-width: 90vw;
  }

  .loginSucceed {
    gap: 30px;
  }
}
